includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 8

    excludePaths:
        - src/Form/Traits/HasStore.php

    ignoreErrors:
        - '#Access to an undefined property object#'
        ######
        # TODO: resolve these errors below, by removing project specific components
        - '#Access to property \$[a-zA-Z_]+ on an unknown class Domain\\(Team|Shipment|Integration)\\Models\\#'
        - '#Call to static method [a-zA-Z\(\)]+ on an unknown class Domain\\(Team|Shipment|Country)\\(Models|Utilities)\\#'
        - '#Call to method [a-zA-Z\(\)]+ on an unknown class Domain\\(Team|Integration|Country)\\Models\\#'
        - '#PHPDoc tag @var for variable \$[a-zA-Z]+ contains unknown class Domain\\Team\\Models\\#'
        - '#Parameter \#1 \$user of method Illuminate\\Auth\\Passwords\\PasswordBroker::createToken\(\) expects Illuminate\\Contracts\\Auth\\CanResetPassword, Domain\\Team\\Models\\User given#'
        - '#Access to property \$user on an unknown class App\\Arpite\\OperationStore#'
        - '#Access to property \$[a-zA-Z_]+ on an unknown class Domain\\Country\\Models#'
        - '#Property .*? has unknown class Domain\\(Shipment|Integration)\\Models\\#'
        - '#Parameter \$[a-zA-Z]+ of method .*? has invalid type Domain\\(Shipment|Integration)\\Models\\#'
        - '#Parameter \$[a-zA-Z]+ of anonymous function has invalid type Domain\\Country\\Models\\#'
        ######
