<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
<!--        ###### -->
<!--        # TODO: resolve these ignores files errors below -->
            <exclude>./tests/Unit/Form/ProcessableWizard/ProcessableWizardTest.php</exclude>
            <exclude>./tests/Unit/Form/ProcessableForm/ProcessableFormTest.php</exclude>
            <exclude>./tests/Unit/Page/Page/PageTest.php</exclude>
            <exclude>./tests/Unit/Form/Operation/OperationTest.php</exclude>
            <exclude>./tests/Unit/Form/Operation/OperationWithJsonResponseTest.php</exclude>
            <exclude>./tests/Unit/Form/Operation/OperationWithInertiaResponseTest.php</exclude>
            <exclude>./tests/Unit/Component/Components/PaginatedTable/PaginatedTableTest.php</exclude>
            <exclude>./tests/Unit/Component/Components/ShopConnectionPanelTest.php</exclude>
<!--        ###### -->
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="testing"/>
    </php>
</phpunit>
